.stepper-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.stepper-item {
  position: relative;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-left: 2px solid red;
  height: 100%;
  width: 2px;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}


