<div class="stepper-wrapper">

  <div class="flex align-items-stretch">
    <div class="flex flex-grow-1">
      <div class="flex flex-column ml-3">
        <img src="assets/images/3.png"/>
        <div class="stepper-item flex-grow-1"></div>
      </div>
      <div class="stepper-content px-3 pb-5">
        <div class="flex flex-column">
          <div class="flex align-items-center">
            <span class="title">درخواست تنظیم سند  وکالت کاری خودرو -  </span>
            <span class="title info"> دفتر 555 تهران </span>
            <app-svg-icon svg="12" width="23" height="15" class="mr-3"></app-svg-icon>
          </div>
          <div class="flex align-items-center">
            <span class="detail">2 مهر 1402  </span>
            <span class="tracNum mx-2">شماره پیگیری: 1402102154</span>
            <img src="assets/images/person.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="flex align-items-stretch">
    <div class="flex flex-column ml-3">
      <img src="assets/images/3.png"/>
      <div class="stepper-item flex-grow-1"></div>
    </div>
    <div class="stepper-content px-3 pb-5">
      <div class="flex flex-column">
        <div class="flex align-items-center">
          <span class="title">سند خرید و فروش ملک-  </span>
          <span class="title info">دفتر 941 تهران</span>
          <app-svg-icon svg="9" class="mr-3"></app-svg-icon>
        </div>
        <div class="p-3 mr-2  description">
          <div class="flex align-items-center justify-content-start mb-3">
            <span class="detail ml-2">23مرداد ۱۰۴۲</span>
            <span class="tag">جزپیات سند</span>
            <span class="tag mx-2">دانلود سند</span>
            <span class="tag">تبادل پیام با دفترخانه سند</span>
          </div>
          <div class="mb-3 flex align-items-center">
            <span class="title">شما ملک با پلاک اصلی <span class="bold">11/420</span> را از مجید مجیدی در دفترخانه <span
              class="bold">941 تهران</span> خریده‌اید. </span>
            <img src="assets/images/person.png" class="mr-2"/>
          </div>
          <div class="flex align-items-center justify-content-between">
            <div class="flex align-items-center">
              <span class="title">شناسه یکتا سند</span>
              <span class="bold">121212121211212</span>
            </div>
            <div class="flex align-items-center">
              <app-svg-icon svg="10"></app-svg-icon>
              <span>وضعیت سند</span>
              <span class="title">
                <span class="bold">تایید نهایی -</span>
                امکان دانلود نسخه نهایی سند فراهم است
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex align-items-stretch">
    <div class="flex flex-column ml-3">
      <img src="assets/images/3.png"/>
      <div class="stepper-item flex-grow-1"></div>
    </div>
    <div class="stepper-content px-3 pb-5">
      <div class="flex flex-column">
        <div class="flex align-items-center">
          <span class="title">گواهی امضا- </span>
          <span class="title info">دفتر 555 تهران</span>
          <app-svg-icon svg="12" width="23" height="15" class="mr-3"></app-svg-icon>
        </div>
        <div class="flex align-items-center">
          <span class="detail">2 مهر 1402  </span>
          <span class="tracNum mx-2">شماره پیگیری: 1402102154</span>
          <img src="assets/images/person.png"/>
        </div>
      </div>
    </div>
  </div>

  <div class="flex align-items-stretch">
    <div class="flex flex-column ml-3">
      <img src="assets/images/3.png"/>
      <div class="stepper-item flex-grow-1"></div>
    </div>
    <div class="stepper-content px-3 pb-5" style="background: #EBF3FF;border-radius: 10px">
      <div class="flex flex-column">
        <div class="flex align-items-center">
          <span class="title">گواهی امضا- </span>
          <span class="title info">دفتر 555 تهران</span>
          <app-svg-icon svg="12" width="23" height="15" class="mr-3"></app-svg-icon>
        </div>
        <div class="flex align-items-center">
          <span class="detail">2 مهر 1402  </span>
          <span class="tracNum mx-2">شماره پیگیری: 1402102154</span>
          <img src="assets/images/person.png"/>
        </div>
      </div>
    </div>
  </div>

  <div class="flex align-items-stretch">
    <div class="flex flex-column ml-3">
      <img src="assets/images/3.png"/>
      <div class="stepper-item flex-grow-1"></div>
    </div>
    <div class="stepper-content px-3 pb-5">
      <div class="flex flex-column">
        <div class="flex align-items-center">
          <span class="title">گواهی امضا- </span>
          <span class="title info">دفتر 555 تهران</span>
          <app-svg-icon svg="12" width="23" height="15" class="mr-3"></app-svg-icon>
        </div>
        <div class="flex align-items-center">
          <span class="detail">2 مهر 1402  </span>
          <span class="tracNum mx-2">شماره پیگیری: 1402102154</span>
          <img src="assets/images/person.png"/>
        </div>
      </div>
    </div>
  </div>

  <div class="flex align-items-stretch">
    <div class="flex flex-column ml-3">
      <img src="assets/images/3.png"/>
      <div class="stepper-item flex-grow-1"></div>
    </div>
    <div class="stepper-content px-3 pb-5" style="background: #EBF3FF; border-radius: 10px">
      <div class="flex flex-column">
        <div class="flex align-items-center">
          <span class="title">گواهی امضا- </span>
          <span class="title info">دفتر 555 تهران</span>
          <app-svg-icon svg="12" width="23" height="15" class="mr-3"></app-svg-icon>
        </div>
        <div class="flex align-items-center">
          <span class="detail">2 مهر 1402  </span>
          <span class="tracNum mx-2">شماره پیگیری: 1402102154</span>
          <img src="assets/images/person.png"/>
        </div>
      </div>
    </div>
  </div>

</div>
