<div class="stepper-wrapper">

  <div class="flex align-items-stretch">
    <div class="flex flex-column ml-3">
      <img src="assets/images/3.png"/>
      <div class="stepper-item flex-grow-1"></div>
    </div>
    <div class="stepper-content px-3 pb-5">
      <div class="flex flex-column">
        <div class="flex mb-3">
          <span>درخواست تنظیم سند  وکالت کاری خودرو- </span>
          <span>دفتر 555 تهران</span>
          <app-svg-icon svg="12" width="23" height="15"></app-svg-icon>
        </div>
        <div class="flex">
          <span>2 مهر 1402  </span>
          <span>شماره پیگیری: 1402102154</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex align-items-stretch">
    <div class="flex flex-column ml-3">
      <img src="assets/images/3.png"/>
      <div class="stepper-item flex-grow-1"></div>
    </div>
    <div class="stepper-content px-3 pb-5">
      <div class="flex flex-column">
        <div class="flex mb-3">
          <span>سند خرید و فروش ملک-  </span>
          <span>دفتر 941 تهران</span>
          <app-svg-icon svg="9"></app-svg-icon>
        </div>
        <div class="p-3 mr-2 bg-black-alpha-10" style="border-radius: 10px">
          <div class="flex align-items-center justify-content-start mb-3">
            <span>23مرداد ۱۰۴۲</span>
            <span>جزپیات سند</span>
            <span>دانلود سند</span>
            <span>تبادل پیام با دفترخانه سند</span>
          </div>
          <div class="mb-3">
            <span>شما ملک با پلاک اصلی 11/420 را از مجید مجیدی در دفترخانه 941 تهران خریده‌اید. </span>
          </div>
          <div class="flex align-items-center justify-content-between">
            <div class="flex align-items-center">
              <span>aa</span>
              <span>cc</span>
            </div>
            <div class="flex align-items-center">
              <app-svg-icon svg="10"></app-svg-icon>
              <span>aa</span>
              <span>cc</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex align-items-stretch">
    <div class="flex flex-column ml-3">
      <img src="assets/images/3.png"/>
      <div class="stepper-item flex-grow-1"></div>
    </div>
    <div class="stepper-content px-3 pb-5">
      <div class="flex flex-column">
        <div class="flex mb-3">
          <span>گواهی امضا- </span>
          <span>دفتر 555 تهران</span>
          <app-svg-icon svg="12" width="23" height="15"></app-svg-icon>
        </div>
        <div class="flex">
          <span>2 مهر 1402  </span>
          <span>شماره پیگیری: 1402102154</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex align-items-stretch">
    <div class="flex flex-column ml-3">
      <img src="assets/images/4.png"/>
      <div class="stepper-item flex-grow-1"></div>
    </div>
    <div class="stepper-content px-3 pb-5">
      <div class="flex flex-column">
        <div class="flex mb-3">
          <span>وکالتنامه- </span>
          <span>دفتر 555 تهران</span>
          <app-svg-icon svg="12" width="23" height="15"></app-svg-icon>
        </div>
        <div class="flex">
          <span>2 مهر 1402  </span>
          <span>شماره پیگیری: 1402102154</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex align-items-stretch">
    <div class="flex flex-column ml-3">
      <img src="assets/images/5.png"/>
      <div class="stepper-item flex-grow-1"></div>
    </div>
    <div class="stepper-content px-3 pb-5">
      <div class="flex flex-column">
        <div class="flex mb-3">
          <span>گواهی امضا- </span>
          <span>دفتر 555 تهران</span>
          <app-svg-icon svg="12" width="23" height="15"></app-svg-icon>
        </div>
        <div class="flex">
          <span>2 مهر 1402  </span>
          <span>شماره پیگیری: 1402102154</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex align-items-stretch">
    <div class="flex flex-column ml-3">
      <img src="assets/images/6.png"/>
      <div class="stepper-item flex-grow-1"></div>
    </div>
    <div class="stepper-content px-3 pb-5">
      <div class="flex flex-column">
        <div class="flex mb-3">
          <span>رهن و اجاره- </span>
          <span>دفتر 231 بندرعباس</span>
          <app-svg-icon svg="12" width="23" height="15"></app-svg-icon>
        </div>
        <div class="flex">
          <span>2 مهر 1402  </span>
          <span>شماره پیگیری: 1402102154</span>
        </div>
      </div>
    </div>
  </div>

</div>
