<form [formGroup]="form">

  <button (click)="resetFilters()">reset</button>
  <app-custom-switch
    label="finalApproval"
    formControlName="finalApproval"
  ></app-custom-switch>

  <app-custom-switch
    label="needToTakeAction"
    formControlName="needToTakeAction"
  ></app-custom-switch>

  <app-custom-radio
    [options]="filterOptions"
    formControlName="filters"
  ></app-custom-radio>

  <app-custom-jalali-date-picker
    label="از"
    formControlName="fromDate">
  </app-custom-jalali-date-picker>

  <app-custom-text-input
    placeholder="aa"
    formControlName="search"
  ></app-custom-text-input>

</form>
