<div class="page-wrapper">
  <div class="flex align-items-center justify-content-between header">
    <span class="title">فهرست اسناد</span>
    <span class="title">بازگشت ></span>
  </div>
  <div class="py-4 px-5">
    <div class="banner px-5">
      <span class="title">کاربر گرامی! توجه داشته باشید، در این قسمت فقط اسناد ثبت شده پس از تاریخ 1392/6/25 نمایش داده میشود.</span>
    </div>
    <div class="flex align-items-stretch justify-content-start my-5">
      <div class="right-side px-3 ml-4">
        <form [formGroup]="form">
          <div class="flex align-items-center justify-content-between mb-5">
            <span class="title">فیلترها</span>
            <span class="cursor-pointer reset" (click)="handleResetFilter()">حذف فیلتر</span>
          </div>
          <div class="flex flex-column">
            <div class="flex flex-column divider">
              <app-custom-switch
                class="mb-3"
                label="تائید نهایی شده"
                formControlName="finalApproval"
              ></app-custom-switch>
              <app-custom-switch
                class="mb-3"
                label="نیاز به اقدام"
                formControlName="needToTakeAction"
              ></app-custom-switch>
            </div>
            <div class="flex flex-column mt-3 divider">
              <span class="year">سال</span>
              <app-custom-jalali-date-picker
                placeholder="از"
                formControlName="fromDate">
              </app-custom-jalali-date-picker>
              <app-custom-jalali-date-picker
                placeholder="تا"
                formControlName="toDate">
              </app-custom-jalali-date-picker>
            </div>
           <div class="mt-3">
             <app-custom-radio
               [options]="filterOptions"
               formControlName="filters"
             ></app-custom-radio>
           </div>
          </div>
        </form>
      </div>
      <div class="left-side flex-grow-1">
        <div class="flex align-items-end justify-content-between mb-2">
          <div class="flex-grow-1 mb-3">
            <app-custom-text-input
              placeholder="جستجو"
              formControlName="search"
            ></app-custom-text-input>
          </div>
          <div>
            <app-svg-icon class="mr-3" svg="11" width="37" height="33"></app-svg-icon>
            <app-svg-icon svg="8" width="37" height="33"></app-svg-icon>
          </div>
        </div>
        <div class="steps">
          <app-stepper></app-stepper>
        </div>
      </div>
    </div>
  </div>
</div>
